<form [formGroup]="contactForm" class="wrapper">
  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Name" formControlName="name" required/>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <mat-label>Phone Number</mat-label>
        <input matInput placeholder="Phone" formControlName="phoneNumber"required/>
      </mat-form-field>
    </div>

  </div>

  <div class="row">
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <mat-label> Select Type</mat-label>
        <mat-select placeholder="Type" formControlName="contactTypeId">
          
          <mat-option *ngFor="let type of contactTypes" [value]="type.id">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-6">
      <mat-form-field class="example-full-width">
        <mat-label> Select Group</mat-label>
        <mat-select placeholder="Group" formControlName="contactGroupId">
          
          <mat-option *ngFor="let group of contactGroups" [value]="group.id">
            {{group.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>


  <div class="button-wrapper" align="end">

    <button mat-flat-button color="warn" (click)="cancel()">Cancel</button> &nbsp;
    <button mat-flat-button color="primary" (click)="submit()" [disabled]="contactForm.invalid">Submit</button>
  </div>
</form>