table {
    width: 100%;
  }
  
  .filter {
    width: 100%;
  }
  
  .material-icons {
    transform: scale(.8);
  }
  
  .example-full-width {
    width: 100%;
    padding: 10px 10px;;
  }

  .margin010px {
    margin: 0 10px;
  }